<app-header titulo="Registrar evento"></app-header>

<ion-content>


  <app-event-form></app-event-form>

<!--   <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Titulo <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="titulo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contenido <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-textarea required formControlName="contenido"></ion-textarea>
    </ion-item>

    <ion-button block color="primary" type="submit" [disabled]="eventForm.invalid">
      Registrar
    </ion-button>
  </form> -->

</ion-content>