<app-header titulo="alert component ui"></app-header>

<ion-content class="ion-padding">
  <h1>alert component</h1>

  <ion-button (click)="onClick()" expand="block"> Simple alert </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    Present alert with multiple buttons
  </ion-button>

  <ion-button (click)="presentAlertConfirm()" expand="block">
    Present alert confirm
  </ion-button>

  <ion-button (click)="presentAlertPrompt()" expand="block">
    Present alert prompt
  </ion-button>
</ion-content>
